src/main/resources/lib/UCDgse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.datamodelextension.org" targetNamespace="http://www.datamodelextension.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
	<xsd:annotation/>
	
	<xsd:attribute name="DisplayLabelText" type="DisplayLabelText"/>
	<xsd:element name="TotalOptionalPaymentCount" type="Count_Base">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalStepPaymentCount" type="Count_Base">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="IntegratedDisclosureSectionType" type="IntegratedDisclosureSectionEnum" >
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="LiabilitySecuredBySubjectPropertyIndicator" type="Indicator_Base">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="TotalStepCount" type="Count_Base"> 
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="BuydownReflectedInNoteIndicator" type="Indicator_Base">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="SubordinateFinancingIsNewIndicator" type="Indicator_Base">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="DocumentSignatureRequiredIndicator" type="Indicator_Base">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:element name="CLOSING_ADJUSTMENT_ITEM_PAID_TO" type="CLOSING_ADJUSTMENT_ITEM_PAID_TO">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="CLOSING_ADJUSTMENT_ITEM_PAID_TO">
		<xsd:annotation />
        <xsd:sequence>
			<xsd:element name="LEGAL_ENTITY" type="LEGAL_ENTITY" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
	<xsd:complexType name="LEGAL_ENTITY">
        <xsd:annotation>
            <xsd:documentation>This is additional information that describes or identifies a legal entity.</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="LEGAL_ENTITY_DETAIL" type="LEGAL_ENTITY_DETAIL" minOccurs="0">
                <xsd:annotation />
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="LEGAL_ENTITY_DETAIL">
        <xsd:annotation />
        <xsd:sequence>
            <xsd:element name="FullName" type="DisplayLabelText" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>The unparsed name of either an individual or a legal entity.</xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
	<xsd:element name="LATE_CHARGE_RULES" type="LATE_CHARGE_RULES">
		<xsd:annotation>
			<xsd:documentation/>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="LATE_CHARGE_RULES">
		<xsd:annotation />
        <xsd:sequence>
			<xsd:element name="LATE_CHARGE_RULE" type="LATE_CHARGE_RULE" maxOccurs="2"/>
		</xsd:sequence>
    </xsd:complexType>
	<xsd:complexType name="LATE_CHARGE_RULE">
		<xsd:annotation />
		<xsd:sequence>
			<xsd:element name="LateChargeAmount" type="Amount_Base" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The dollar amount that a borrower is required to pay for failure to make a regular installment within the period specified on the note. This is used when late charge is defined as a flat dollar amount.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LateChargeGracePeriodDaysCount" type="Count_Base" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The grace period in days for this loan before a late charge will be applied.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LateChargeRatePercent" type="Percent_Base" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The percentage that a borrower is required to pay for failure to make a regular installment within the period specified on the note. This is the amount specified by the late charge code and is used when the late charge is not a flat dollar.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="LateChargeType" type="LateChargeEnum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The type of late charge that may be applied to the loan.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LateChargeEnum">
		<xsd:annotation>
			<xsd:documentation>The type of late charge that may be applied to the loan.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="LateChargeBase"/>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="LateChargeBase">
		<xsd:annotation>
			<xsd:documentation>Term: Late Charge Type Definition: The type of late charge that may be applied to the loan.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Enum_Base">
			<xsd:enumeration value="FlatDollarAmount">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="NoLateCharges">
				<xsd:annotation>
					<xsd:documentation />
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PercentageOfDelinquentInterest">
				<xsd:annotation>
					<xsd:documentation>Late charge is a percentage of the delinquent interest on any overdue payment.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PercentageOfNetPayment">
				<xsd:annotation>
					<xsd:documentation>Late change is a percentage of the total payment less any buydown subsidy or optional insurance portion of that payment.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PercentageOfPrincipalBalance">
				<xsd:annotation>
					<xsd:documentation>Late charge is a percentage of the principal balance.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PercentageOfTotalPayment">
				<xsd:annotation>
					<xsd:documentation>Late charge is a percentage of the total payment.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PercentOfPrincipalAndInterest">
				<xsd:annotation>
					<xsd:documentation>Late charge is a percentage of principal and interest amount.</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="IntegratedDisclosureSectionEnum">
		<xsd:annotation>
			<xsd:documentation>The title or description used to identify a primary section of the integrated disclosure document.</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="IntegratedDisclosureSection">
				<xsd:attribute name="SensitiveIndicator" type="Indicator_Base">
					<xsd:annotation>
						<xsd:documentation>Allows producers and consumers of XML instance documents that are valid V3 documents to mark any data point to be treated as sensitive. recommends that any use of a data point labeled as "Sensitive Information" in the LDD ALWAYS have this attribute set to "true".</xsd:documentation>
					</xsd:annotation>
				</xsd:attribute>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="IntegratedDisclosureSection">
		<xsd:annotation>
			<xsd:documentation>Term: Integrated Disclosure Section Type Definition: The title or description used to identify a primary section of the integrated disclosure document.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="Enum_Base">
			<xsd:enumeration value="DueFromBorrowerAtClosing">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DueFromSellerAtClosing">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="DueToSellerAtClosing">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="InitialEscrowPaymentAtClosing">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OriginationCharges">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="OtherCosts">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PaidAlreadyByOrOnBehalfOfBorrowerAtClosing">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="PayoffsAndPayments">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="Prepaids">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ServicesBorrowerDidNotShopFor">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="ServicesBorrowerDidShopFor">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TaxesAndOtherGovernmentFees">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TotalClosingCosts">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TotalLoanCosts">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="TotalOtherCosts">
				<xsd:annotation>
					<xsd:documentation/>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="DisplayLabelText">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16383" />
        </xsd:restriction>
    </xsd:simpleType>
	<xsd:simpleType name="Enum_Base">
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="80" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Indicator_Base">
		<xsd:restriction base="xsd:boolean" />
	</xsd:simpleType>
	<xsd:simpleType name="Count_Base">
		<xsd:restriction base="xsd:int">
			<xsd:minInclusive value="0" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Amount_Base">
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Percent_Base">
		<xsd:restriction base="xsd:decimal" />
	</xsd:simpleType>
</xsd:schema>